@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght@100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

@layer base {
  body {
    @apply bg-Dark-cyan min-h-screen bg-no-repeat bg-[url('../src/assets/images/bg-pattern-top.svg'),_url('../src/assets/images/bg-pattern-bottom.svg')] bg-[position:top_-40rem_left_-40rem,_bottom_-35rem_right_-45rem] md:bg-[position:top_-30rem_left_-20rem,_bottom_-30rem_right_-20rem];
  }
}

@theme {
  --font-one: Kumbh Sans;

  /* Colors Primary */
  --color-Dark-cyan: hsl(185, 75%, 39%);
  --color-Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --color-Dark-grayish-blue: hsl(227, 10%, 46%);
}
