@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght@100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

@layer base {
  body {
    min-height: 100vh;
    @apply bg-Dark-cyan;
    background-image: url("../src/assets/images/bg-pattern-top.svg"),
      url("../src/assets/images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 50% 60%, 10% 10%;
    background-position: bottom right, top left;
  }
  /* 
  body::before,
  body::after {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 200% 200%;
    z-index: 0;
    pointer-events: none;
  }

  body::before {
    top: 0;
    left: 0;
    background-image: url("../src/assets/images/bg-pattern-top.svg");
    background-position: bottom right;
  }
  body::after {
    bottom: 0;
    right: 0;
    background-image: url("../src/assets/images/bg-pattern-bottom.svg");
    background-position: top left;
  } */
}

@theme {
  --font-one: Kumbh Sans;

  /* Colors Primary */
  --color-Dark-cyan: hsl(185, 75%, 39%);
  --color-Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --color-Dark-grayish-blue: hsl(227, 10%, 46%);
}
